<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.family.name %></strong>
    <i><%= I18n.l(message.created_at, format: "%-d %B %Y à %H:%M") %></i>
  </small>
  <p><%= message.content %></p>
</div>
