// Specific CSS for your home-page
main {
  // background-color: $uranian-blue;
  background-color: white;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.margin-with-navbar {
  margin-top: 80px;

}

.home-top-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: 50% 75%;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1511895426328-dc8714191300?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  h4 {
    width: 20%;
    font-size: medium;
    margin-left: 110px;
    margin-right: 110px;
    border: 1px solid;
    background: $fairy-tale;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
 .home-quick-explain {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  height: 400px;
  img {
    height: 80%;
  }
  .home-quick-explain-text {
    padding: 10px;
    min-height: 80%;
    max-width: 25%;
    border: 1px solid $light-sky-blue;
    border-radius: 3px;
    h2 {
      min-height: 3em;
    }
  }
 }

 .step-explain {
    background-color: $thistle;
    margin: auto;
    padding: 40px 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
    .shadow-custom {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
 }

 footer {
  display: flex;
  justify-content: space-evenly;
  ul {
    list-style-type: none;
    padding: 0;
  }
 }
