<div class="container mt-4">

<% if @family.name == nil %>

  <h2>Tu n'as pas encore ajouter d'informations sur ta famille, il est temps de nous en dire un peu plus !</h2>

  <%= render 'form', family: @family %>

<% end %>


<% if @family.name != nil %>

  <h2>Famille <%= @family.name %></h2>

  <p><%= @family.description %></p>

<% end %>



</div>
