<p><%= link_to group.name, group_path(group), class: "fs-6 text-decoration-none fw-bold text-black" %></p>
<p class="fst-italic mb-0", id="small-line-height", style="margin-top: -8px;"><%= group.place_address %></p>
