
<h1>Groups List</h1>
<% @groups.each do |group| %>
      <div class="px-4">
        <div class="card-product mb-4">
          <%= group.banner_photo.key.present? ? cl_image_tag(group.banner_photo.key, crop: :fit) : image_tag('https://images.unsplash.com/photo-1525026198548-4baa812f1183?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1334&q=80') %>
          <div class="card-product-infos">
            <h2><%= link_to group.name, group_path(group) %> </h2>
            <p><%= group.description %></p>
          </div>
        </div>
      </div>
<% end %>
