<% if notice %>
  <div class="alert alert-success alert-dismissible fade show m-1" role="alert">
  <div class="d-flex justify-content-start align-items-center">
  <div class="me-2">
    <%= image_tag("successbaby.png", height: "70px") %>
  </div>

    <div class="">
    <%= notice %>

  </div>



  </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
