<div class="container margin-with-navbar">

  <h2>Mettre à jour l'événement <%= @event.name %></h2>

  <%= render "form", event: @event, group: @event.group, label: "Sauvegarder les informations" %>

</div>
