<main>
  <div class="home-top-image">
    <% if current_user && !current_user.family.name.present? %>
      <h4><i class="fa-solid fa-circle-exclamation"></i> Il est maintenant temps d'ajouter des informations sur ta famille
      <%= link_to "C'est parti !", family_path(current_user.family), class: "btn btn-info fw-bold mt-2" %></h4>
    <% end %>
    <h4>Combattons ensemble les problèmes de garde, trouvez autour de vous des personnes de confiance qui comprennent vos problèmes et les partagent.</h4>
  </div>
  <div class="home-quick-explain">
    <img src="https://cdn.dribbble.com/users/77598/screenshots/16032812/media/bd58de124eaf5ee8dea1b330ff6d1874.png">
    <div class="home-quick-explain-text">
      <h2>Je cherche une solution de garde</h2>
      <p>Les places de crèche et de garderie sont limitées, les mamans de jour ou nounous sont souvent onéreuses et la confiance n'est pas toujours là !</p>
    </div>
    <div class="home-quick-explain-text">
      <h2>Je cherche à partager une activité</h2>
      <p>Organisez des activités et donner le sourire à vos enfants en les laissant s'amuser tout en se créant de nouveaux amis !</p>
    </div>
  </div>
  <div style="background-color: #cdb4dbff;">
    <div class="step-explain">
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7314321/media/86247d104aaf81bfa137271bf8786cb3.png">
        <div class="card-body">
          <% if current_user %>
            <h5 class="card-title"><%= link_to "Je crée ma famille", family_path(current_user.family), class: "text-black text-decoration-none" %></h5>
          <% else %>
            <h5>Je crée ma famille</h5>
          <% end %>
          <p class="card-text">Je nous décris, partage notre façon de vivre, exprime nos souhaits, mets en avant nos qualités mais aussi nos défauts !</p>
        </div>
      </div>
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7283805/media/d93d307abd1d3c96bd9fc6d004d22de7.png">
        <div class="card-body">
          <% if current_user %>
            <h5 class="card-title"><%= link_to "J'informe les autres et je configure le rayon", new_family_group_path(current_user.family), class: "text-black text-decoration-none" %></h5>
          <% else %>
            <h5>J'informe les autres et je configure le rayon</h5>
          <% end %>
          <p class="card-text">Je précise les jours où nous avons besoin de faire garder nos enfants mais également ceux où nous sommes disponibles pour garder les prochains copains. Je configure aussi la distance maximum à laquelle je suis prêt à me déplacer.</p>
        </div>
      </div>
      <div class="card shadow-custom" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.dribbble.com/users/77598/screenshots/7332213/media/066b07c14c3f8244a71e7742ffd521ff.png">
        <div class="card-body">
          <h5 class="card-title"><%= link_to "Je prends contact, croise les doigts et me réjouis !", groups_path, class: "text-black text-decoration-none" %></h5>
          <p class="card-text">Je regarde si des familles ou groupes de famille sont en recherche d'un nouveau membre ou je crée mon propre groupe.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="mt-3">
    <h6>Infos pratiques</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
  <div class="mt-3">
    <h6>À propos</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
  <div class="mt-3">
    <h6>Garde partagée</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
</footer>
