<main>
  <div class="home-top-image">
    <h4>Combattons ensemble les problèmes de garde, trouvez autour de vous des personnes de confiance qui comprennent vos problèmes et les partages</h4>
  </div>
  <div class="home-quick-explain">
    <img src="https://previews.123rf.com/images/atthameeni/atthameeni1402/atthameeni140200056/26262332-dessin-main-heureuse-famille-de-personnage-de-dessin-anim%C3%A9.jpg">
    <div class="home-quick-explain-text">
      <h2>Je cherche de la garde</h2>
      <p>Les places de crèche, garderie sont limitées, les mamans de jour ou nounou sont souvent onéreuses et la confiance n'est pas toujours là !</p>
    </div>
    <div class="home-quick-explain-text">
      <h2>Je cherche à partager une activité</h2>
      <p>Organisez des activités et donner le sourir à vos enfants en les laissant s'amuser tout en se faisant de nouveaux amis.</p>
    </div>
  </div>
  <div style="background-color: #cdb4dbff;">
    <div class="step-explain">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.lovepik.com/element/40080/4926.png_300.png">
        <div class="card-body">
          <h5 class="card-title">Je crée ma famille</h5>
          <p class="card-text">Je nous décris, partage notre façon de vivre, exprime nos souhaits, mets en avant nos qualités mais aussi nos défauts !</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.lovepik.com/element/40080/4926.png_300.png">
        <div class="card-body">
          <h5 class="card-title">J'informe les autres et configure le rayon</h5>
          <p class="card-text">J'ajoute nos jours ou nous avons besoin de faire garder nos enfants mais également ceux ou nous sommes disponibles pour garder les prochains copains. Je configure aussi la distance maximum d'un lieu ou je suis prêt à me déplacer</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.lovepik.com/element/40080/4926.png_300.png">
        <div class="card-body">
          <h5 class="card-title">Je prends contact, croise les doigts et me réjouis!</h5>
          <p class="card-text">Je regarde si des familles ou groupe de famille sont en recherche d'un nouveau membre ou je créé mon propre groupe.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div>
    <h6>Infos pratiques</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
    <div>
    <h6>A propos</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
    <div>
    <h6>Garde partagée</h6>
    <ul>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
      <li>L'équipe</li>
    </ul>
  </div>
</footer>
