<main>
  <div class="home-top-image">
    <h4>Combattons ensemble les problèmes de garde, trouvez autour de vous des personnes de confiance qui comprennent vos problèmes et les partages</h4>
  </div>
  <div class="home-quick-explain">
    <img src="https://previews.123rf.com/images/atthameeni/atthameeni1402/atthameeni140200056/26262332-dessin-main-heureuse-famille-de-personnage-de-dessin-anim%C3%A9.jpg">
    <div class="home-quick-explain-text">
      <h2>Je cherche de la garde</h2>
      <p>Organisez des activités et donner le sourir à vos enfants en les laissant s'amuser tout en se faisant de nouveaux amis.</p>
    </div>
  </div>
</main>
