.banner-group {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  height: 500px;
}

.banner-event {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  height: 450px;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h3 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.homebanner {
  background-size: cover;
  background-position: 50% 75%;
  padding: 150px 0;
  height: 470px;
}

.homebanner h1 {
  background: linear-gradient(to right, $carnation-pink, $fairy-tale);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.homebanner h3 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  margin-bottom: 0px;
}

.homebanner p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.homebanner .homebanner-card h4 {
  width: 20%;
  font-size: 16px;
  border: 1px solid;
  background: $fairy-tale;
  border-radius: 3px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
