.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.nur-girl-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 16px;
  height: 170px;
  width: 150px;
  border: 1px solid $carnation-pink;
  background-color: $fairy-tale;
}

.nur-boy-card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50%;
  padding: 16px;
  height: 170px;
  width: 150px;
  border: 1px solid $light-sky-blue;
  background-color: $uranian-blue;
}

.new-child-card {
  padding: 16px;
  height: 170px;
  width: 150px;
}

#new-child-plus {
  color: #3C3C3A;
  text-align: center;
  padding: 50px 0;
}

.light-card {
  background: white;
  box-shadow: 0 0 15px rgba(255, 0, 128, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.description {
  font-family: 'Sacramento', cursive;
  font-size: 32px;
}

.carousel-container {
  height: 400px;
  overflow: hidden;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
